.accountPage{
    margin-top: 10px;
}

.changePasswordForm{
    margin-top: 10px;
}

.text-right{
    text-align: right;
}

.title-4{
    font-style: normal;
    font-weight: 600;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #546b81;
    text-transform: uppercase;
}