.registrtionPage{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.registrationForm{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.logo{
  width: 100%;
  margin-bottom: 30px;
}

.btn-submit{
  width: 100%;
  background: #43A047;
  color: #fff;
}

.label-left{
  width: 100%;
  text-align: left;
}
