$small: 750px;
$large: 1024px;
$gray: #D8DCE6;
$green: #0c7f43;
$green: #0c7f43;
$red: #d43f3a;
$orange : #f0ad4e;

$border-radius: 4px;
$shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}
