@import 'base';
@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #555;
  min-height: 100vh;
  font-family: 'Open Sans',sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fixed{
  position: fixed;
}

.panel-footer{
  background-color: #d8dce6 !important;
}

.inline {
  display: inline-block;
}

.padding-sm{
  padding: 6px !important;
}

.inline{
  display: inline-block;
}

.gridPage{
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel--item{
  border-color: $gray;
  border: 1px solid $gray;
  background-color: #FFF;
  box-shadow: $shadow;
  margin-bottom: 10px;
  width: 100%;
}

.modal-footer--error{
  text-align: left !important;
}
//common

.glypicon--pointer{
  cursor: pointer !important;
}

.glypicon--button{
  cursor: pointer !important;
  background-color: $gray;
  border: $gray;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 9px;
}

.glypicon--button:hover{
  color: $green;
  border-color: $green;
}

.glypicon-sm{
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
  margin-bottom: 3px;
}

.glypicon-md{
  font-size: 18px;
  margin-right: 10px;
}

.title{
  font-size: 20px;
}

.btn{
  color: #555;
  background-color: $gray;
  border: $gray;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 9px;
}

.btn:hover{
  color: $green;
  border: $green;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 9px;
}

.btn-danger:hover {
  border-color: $red;
  color: $red;
  background-color: $gray;
}

.btn-danger:active {
  border-color: $red;
  color: $red;
  background-color: $gray;
}

.btn-success:hover {
  border-color: $green;
  color: $green;
  background-color: $gray;
}

.btn-danger:active {
  border-color: $green;
  color: $green;
  background-color: $gray;
}

.full-width{
  width: 100%;
}

//links
.route-inactive{
  color: #a6aab0;
}

.route-active{
  color:  #fff;
}

.route-active:hover,
.route-inactive:hover{
  color:  #fff;
  text-decoration: none;
}

//griddle
.top-section{
  margin: 1em 0 1em 0;
}

.griddle-filter{
  @include respond-to(handhelds) { width: 100% !important;}
  @include respond-to(medium-screens) { width: 100% !important; }
  @include respond-to(wide-screens) { width: 50% !important; }
}

.griddle-container{
  border: none !important;
  margin: 1em 0 1em 0;
}

//modal

.modal-dialog{
  margin: 0px !important;
  float: right;
  @include respond-to(handhelds) { width: 100% !important;}
  @include respond-to(medium-screens) { width: 100% !important; }
  @include respond-to(wide-screens) { width: 50% !important; }
}

.modal-content{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 6px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
