@import 'base';
@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to left, #76b852, #8DC26F);
  color: #555;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container--layout{
  margin-bottom: 50px;
}

.flex-1 {
  -webkit-box-flex: 1;
  flex: 1;
}

//common

.glypicon--button{
  cursor: pointer !important;
  background-color: $gray;
  border: $gray;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  padding: 9px;
}

.glypicon--button:hover{
  color: $green1;
  border: $green;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  padding: 9px;
}

.title{
  font-size: 20px;
}

.btn{
  color: #555;
  background-color: $gray;
  border: $gray;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  padding: 9px;
}

.btn:hover{
  color: $green1;
  border: $green;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  padding: 9px;
}

.btn-danger:hover {
  border-color: $red;
  color: $red;
  background-color: $gray;
}

//links
.route-inactive{
  color: #a6aab0;
}

.route-active{
  color:  #fff;
}

.route-active:hover,
.route-inactive:hover{
  color:  #fff;
  text-decoration: none;
}

//griddle
.top-section{
  margin: 1em 0 1em 0;
}

.griddle-filter{
  @include respond-to(handhelds) { width: 100% !important;}
  @include respond-to(medium-screens) { width: 100% !important; }
  @include respond-to(wide-screens) { width: 50% !important; }
}

.griddle-container{
  border: none !important;
  margin: 1em 0 1em 0;
}

//modal

.modal-dialog{
  margin: 0px !important;
  float: right;
  @include respond-to(handhelds) { width: 100% !important;}
  @include respond-to(medium-screens) { width: 100% !important; }
  @include respond-to(wide-screens) { width: 50% !important; }
}

.modal-content{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 6px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
