@import 'base';
@import "reactBootstrapTable";
@import "dropzone";
@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #555;
  min-height: 100vh;
  font-family: 'Open Sans',sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.p-15{
  padding: 15px;
}

.fixed{
  position: fixed;
}

.panel-footer{
  background-color: #d8dce6 !important;
}

.inline {
  display: inline-block;
}

.padding-sm{
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.inline{
  display: inline-block;
}

.gridPage{
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel--item{
  border-color: $gray;
  border: 1px solid $gray;
  background-color: #FFF;
  box-shadow: $shadow;
  margin-bottom: 10px;
  width: 100%;
}

.modal-footer--error{
  text-align: left !important;
}

.mt-10{
  margin-top: 10px;
}

.mr-10{
  margin-right: 10px;
}

.ml-5{
  margin-left: 5px;
}

.mr-5{
  margin-right: 5px;
}

.mt-5{
  margin-top: 5px;
}

.page--toollbar{
  margin-bottom: 50px;
}

//common

.glypicon--pointer{
  cursor: pointer !important;
}

.glypicon--button{
  cursor: pointer !important;
  background-color: $gray;
  border: $gray;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 9px;
}

.glypicon--button:hover{
  color: $green;
  border-color: $green;
}

.glypicon-sm{
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
  margin-bottom: 3px;
}

.glypicon-md{
  font-size: 18px;
  margin-right: 10px;
}

.title{
  font-size: 20px;
}

.btn{
  color: #555;
  background-color: $gray;
  border: $gray;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 9px;
}

.btn:hover{
  color: $green;
  border: $green;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 9px;
}

.btn-info{
  background: #26b2b7;
  border: solid #26b2b7;
}

.btn-danger:hover {
  border-color: $red;
  color: $red;
  background-color: $gray;
}

.btn-danger:active {
  border-color: $red;
  color: $red;
  background-color: $gray;
}

.btn-success:hover {
  border-color: $green;
  color: $green;
  background-color: $gray;
}

.btn-warning:hover {
  border-color: $orange;
  color: $orange;
  background-color: $gray;
}

.btn-group-sm:hover{
  padding: 0px !important;
}

.btn-danger:active {
  border-color: $green;
  color: $green;
  background-color: $gray;
}

.full-width{
  width: 100%;
}

//links
.route-inactive{
  color: #a6aab0;
}

.route-active{
  color:  #fff;
}

.route-active:hover,
.route-inactive:hover{
  color:  #fff;
  text-decoration: none;
}

//griddle
.top-section{
  margin: 1em 0 1em 0;
}

.griddle-filter{
  @include respond-to(handhelds) { width: 100% !important;}
  @include respond-to(medium-screens) { width: 100% !important; }
  @include respond-to(wide-screens) { width: 50% !important; }
}

.griddle-container{
  border: none !important;
  margin: 1em 0 1em 0;
}

//modal

.modal-dialog{
  margin: 0px !important;
  float: right;
  @include respond-to(handhelds) { width: 100% !important;}
  @include respond-to(medium-screens) { width: 100% !important; }
  @include respond-to(wide-screens) { width: 50% !important; }
}

.modal-content{
  border-radius: 0px !important;
  min-height: 100vh;
}

.modal.in .modal-dialog{
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; 
}

.modal.fade .modal-dialog {
  -webkit-transition: none; 
  -o-transition: none;
  transition: none; 
  -webkit-transform: none; 
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.modal-header{
  height: 63px;
  background-image: linear-gradient(270deg,#89b700,#1cb2c8);
  border-bottom: 1px solid rgba(0,0,0,.05);

  h4{
      overflow: hidden;
      display: inline-block;
      max-width: 100%;
      color: white;
      font-size: 24px;
      line-height: 40px;
      font-weight: 300;
      text-overflow: ellipsis;
  }
}

//tinymce
.mce-tinymce{
  border-radius: 4px;
}

.mce-panel{
  background-color: #d8dce6 !important;
}

.mce-btn{
    background-color: #d8dce6 !important;
}

//dropzone
.dropZone{
  width: auto;
  height: 100px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;

  p{
    line-height: 100px;
    text-align: center;
  }
}

//bootstrap-table
.react-bs-table{
  margin: 0px !important;
}

.react-bs-table-tool-bar .btn-group{
  margin-bottom: 5px;
  margin-left: -10px;
}

.react-bs-table-tool-bar .btn:hover{
  padding: 5px 10px;
}

//navbar
.junior-navbar{
    height: 64px;
    background-image: linear-gradient(270deg,#89b700,#1cb2c8);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 0px; 
    border-radius: 0px;

    .nav{
        margin-top: 10px;
        margin-left: 20px;
        width: 94%;
    }

    .container{
        width: 100%;
    }

    .navbar-brand{
        height: 50px;
        margin-left: 0px !important;
        margin-top: 5px;
    }

    .current-page-name{
        overflow: hidden;
        display: inline-block;
        max-width: 100%;
        color: white;
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;
        text-overflow: ellipsis;
    }

    .account{
        overflow: hidden;
        display: inline-block;
        font-size: 16px;
        line-height: 40px;
        font-weight: 300;
        text-overflow: ellipsis;

        a{
            color: #fff !important;
        }
    }
}
