.task-searchresults .ace_tree_scroller{
    overflow-y: scroll;
}

.task-searchresults .body{
    white-space: normal;
}

.task-searchresults .item:hover{
    background: #fff;
}

.task-searchresults img{
    width: 100% !important;
    height: auto !important;
}

.warning-message{
    margin: auto 10px;
    text-align: center;
}

.task-searchresults{
    position:absolute;
    top:47px;
    right:10px;
    left:10px;
    bottom:0px
}

#error{
    color: red;
}