.task-searchresults .ace_tree_scroller{
    overflow-y: scroll;
}

.task-searchresults .body{
    white-space: normal;
}

.task-searchresults .item:hover{
    background: #fff;
}

.task-searchresults img{
    width: 100% !important;
    height: auto !important;
}

.warning-message{
    margin: auto 10px;
    text-align: center;
}

.task-searchresults{
    position:absolute;
    top:47px;
    right:10px;
    left:10px;
    bottom:0px
}

#error{
    color: red;
}

.task-tab{
    height: 100%;
}

.bar-task{
    overflow-y:auto; 
    overflow-x:hidden;
    width: 170px;
    display: block;
    left: 0px;
    top: 0px;
    bottom: 30px;
}

.bar-task--btn{
    cursor: pointer;
}

.bar-task--btn:hover{
     background-color: #f1f1f1;
}

.bar-task--btn.active {
    background-color: #0e7f44;
}

.bar-task--btn.active .lbl:after{
    background-image: url(https://static.c9.io/nc-3.1.3555-410c301c/static/plugins/c9.ide.theme.flat/images/tree_close_arrow_small_flat_light.png);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    left: 13px;
    width: 9px;
    height: 13px;
    top: 11px;
    opacity: 0.7;
}

.bar-task--btn .right{
    background-image: none;
}

.bar-task--btn .left{
    background-image: none;
}

.bar-task--btn.active .lbl{
    color: #fff;
}

.bar-task--btn .lbl{
    background-image: none;
    text-shadow: none;
}

.bar-content{
    visibility: hidden;
}

.bar-content img{
    width: 100% !important;
    height: 100% !important;
}

.bar-content.active{
    visibility: visible;
}

.tab-container{
    display: block;
    position: absolute;
    left: 180px;
    right: 0px;
    top: 55px;
    bottom: 0px;
    overflow-y: scroll;
}

.logo{
    width: 170px;
    margin: 5px;
}

.logo img{
    width: 100%;
}

.taskName{
    left: 180px;
    position: absolute;
}

.header{
    height: 45px;
    border-bottom: solid 1px #d2cece;
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
}

.header .basic{
    display: inline-block;
}

.add-tab{
    position: absolute;
    width: 170px;
    bottom: 0px;
    height: 70px;
}

#deadlineIcon{
    width: 15%;
    float: left;
    margin-left: 5px;
}

.btn-default{
    margin-left: 5px;
}

.tag{
    border-radius: 2px;
    padding: 3px;
    display: inline-block !important;
    margin: 2px;
}

.tag--red{
    background-color: #d75555;
}

.tag--orange{
    background-color: #d99b1e;
}

.tag--yellow{
    background-color: #f5e921;
}

.tag--green{
    background-color: #3dc469;
}
