.task-searchresults .ace_tree_scroller{
    overflow-y: auto;
    overflow-x: hidden;
}

.task-searchresults .body{
    white-space: normal;
}

.task-searchresults .item{
    height: auto !important;
}

.task-searchresults .item:hover{
    background: #fff;
}

.task-searchresults img{
    width: 100% !important;
    height: auto !important;
}

.warning-message{
    margin: auto 10px;
    text-align: center;
}

.task-searchresults{
    position:absolute;
    top:47px;
    right:10px;
    left:10px;
    bottom:35px
}

.task-actions{
    position:absolute;
    bottom:0;
    height:35px;
    right:10px;
    left:10px;
}

.task-upload{
    width:80px;
    margin-top:3px;
    margin-bottom:3px;
    visibility:hidden;
}

#error{
    color: red;
}