@import 'base';

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand{
  padding: 10px 10px;
}

.navbar-wide{
  width: calc(100% - 75px);
  left: 75px;

  .container{
    width: 100%;
  }
}

.toolbar{
  margin: 5px auto;
  width: 100%;
}
