@import 'base';

.leftSidebar{
  border-radius: 0px;
  border: 0px;
  width: 75px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0px;
  position: fixed;
  border-right: 1px solid #f1f1f1;
  padding-top: 64px;

    .container{
        width: 250px;
    }

    .navbar-nav{
      float: none !important;
      li{
          float: none !important;
      }
    }
    .navbar-header{
      float: none !important;
    }
}

.nav-header-bottom{
  bottom: 0;
}

.menu-list{
  margin-top: 40px;
}

.navbar-collapse{
  padding-left: 0px !important;
}
