@import 'base';

.groups-header{
    padding: 15px;

    .row{
        margin-bottom: 10px;
    }
}

.group-filter{
    overflow: hidden;
    display: block;
    padding: .75em 2em;
    background-color: #f2f0ed;
    border: 0;
    border-radius: 4px;
    color: gray;
    font-size: inherit;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.group-filter.active{
    color: #fff !important;
    background-color: #0e8450;
}

.user-card{
    overflow: hidden;
    border-radius: 3px;
    padding: 10px 20px;
    background: #f1f1f1;
    box-shadow: $shadow;
    margin-bottom: 10px;
    
  .footer{
    text-align: right;
  }
}

.user-card.active{
    background: rgba(48, 179, 164, 0.82);
    color: #fff;
}

.users-panel{

  p{
      color: gray;
      text-align: center;
  }
}

.users-panel.active{
    width: 30%;
}

.statistic-panel{
    width: 60%;
    display: inline-block;

    ul{
        background-color: none !important;
    }

    .mb-10{
        margin-bottom: 10px;
    }

    .list-group-item{
        color: rgb(119, 119, 119) !important;
        cursor: pointer;
        font-size: 16px;
    }

    .icon{
        display: none;
    }

    .tag{
        padding: 5px;
        color: #fff;
        border-radius: 2px;
        margin: 5px;
    }

    .tag.tag--green{
        background-color: #72b62a;
    }

    .tag.tag--red{
        background-color: #e66969;
    }

    .toggle--triangle-right{
        display: inline-block;
    }

    .statistic-container{
        display: inline-block;
    }

    
}
.statistic-container.statistic-subcontainer{
    margin-top: 10px;
}

