.container{
    display: block;
}

.divider{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 19px 0;
    display: -webkit-inline-box;
}

.divider:after{
    content: "";
    background: #e2e6e9;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 13px 0 0;
    height: 1px;
}

.divider_text{
    font-size: 14px;
    padding: 0 10px;
    line-height: 26px;
    color: #b9c2cb;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -16px;
    margin: auto;
    display: -webkit-box;
}

.divider_score{
    position: relative;
    top: -1px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #cbd0d5;
    border-radius: 20px;
    color: #b9c2cb;
    padding: 2px 10px;
    margin: 0 5px;
}
