<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="compilerGroup">
      <section name="cppCompiler" type="CppCompiler.Configuration.CppCompilerSection, CppCompiler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <compilerGroup>
    <cppCompiler path="C:\MinGW\bin"/>
  </compilerGroup>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>