<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="compilerGroup">
      <section name="cppCompiler" type="Test_App.Configuration.CppCompilerSection, Test_App, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<compilerGroup>
  <cppCompiler path="C:\MinGW\bin"/>
</compilerGroup>
  <connectionStrings>
    <add name="FirstStepDb" connectionString="Data Source=localhost;Initial Catalog=FirstStep_Db;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>