@import 'base';

.subject-grid-item{
  padding: 10px;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
  width: 70%;
  margin: 10px auto;
}

.glypicon--bg{
  line-height: 50px;
  font-size: x-large;
}

.p--bg{
  font-size: x-large;
  line-height: 125px;
}

.subject-info{
    font-weight: 600;
    color: #555555;
}