.subject-grid-item{
  background-color: #fff;
  text-align: center;
  min-height: 250px;
  padding-top: 50px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.glypicon--bg{
  line-height: 50px;
  font-size: -webkit-xxx-large;
}

.p--bg{
  font-size: x-large;
  line-height: 125px;
}
