@import 'base';

.loginPage{
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
}

.loginForm{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 70px;
  padding: 45px;
  text-align: center;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.btn-submit{
  width: 100%;
  background: #43A047;
  color: #fff;
}

.checkbox{
  text-align: left;
}

.message{
  margin: 15px 0 0;
  font-size: 12px;
}
.message a{
  color: #4CAF50;
  text-decoration: none;
}

.logo{
  width: 100%;
  margin-bottom: 30px;
}
