body{
    font-family: "Open Sans",open-sans,sans-serif;
}

.content-center{
    margin: auto;
}

.mdl-layout__header-row--high{
    height: 200px;
}

.colorful_image{
    background-image: url("pattern.png");
}

.font_white{
    color: #fff !important;
}

.mdl-layout__header-row .is-active:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(117, 171, 184);
    /* left: 15%; */
    position: relative;
    font-weight: bold;
}

.mdl-layout__header-row .mdl-navigation__link.font_white{
        line-height: 35px;
}

.footer{
    height: 7%;
    width: 100%;
    background-color: #424242 !important;
    color: #fff;
}

.footer-section{
    margin: 5px;
}

.footer__left-section{
    float:right;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        padding: 0px !important;
    }
}

header .mdl-layout__drawer-button{
    background-color: transparent !important;
    color: #fff !important;
}

.divider{
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #5f697a;
    line-height: 17px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    margin: 19px 0;
    text-align: center;
    display: -webkit-inline-box;
}

.divider:after{
    content: "";
    background: #e2e6e9;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 13px 0 0;
    height: 1px;
}

.divider .divider_text{
    padding-left: 5px;
    font-size: 14px;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    line-height: 26px;
    color: #b9c2cb;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0px;
    /* padding: 1px; */
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin: auto;
}

.divider .divider_actions{
    line-height: 26px;
    font-size: 14px;
    z-index: 2;
    color: #b9c2cb;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.divider .subject_number{
    position: relative;
    top: -1px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #cbd0d5;
    border-radius: 20px;
    color: #b9c2cb;
    padding: 2px 10px;
    margin: 0 5px;
}

.add-button{
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 29px;
    color: #b9c2cb;
    width: 100%;
    text-align: center;
}

.add-button:hover{
    background-color: #e3eae7;
}
