@import 'base';

.panel--group{
  border-color: $gray;
  border: 1px solid $gray;
  background-color: #FFF;
  box-shadow: $shadow;
  margin-bottom: 10px;
  width: 100%;
}

.groupsGridPage{
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
