.changePasswordPage{
  width: 360px;
  padding: 1% 0 0;
  margin: auto;
}

.changePasswordForm{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 70px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn-submit{
  width: 100%;
  background: #43A047;
  color: #fff;
}

.logo{
  width: 100%;
  margin-bottom: 30px;
}

.label-left{
  width: 100%;
  text-align: left;
}
